
:root {
  
--color-1: #f3e9c3;
--color-2: #e5b531;
--color-3: #4a9dd4;
--color-4: #269aa3;
--color-5: #3eb0be;
--color-6: #4359a0;
--color-7: #182454;
--color-8: #243a69; 
}

.login-container {
  background-color: var(--color-1); 
}

.registro-container {
  background-color: var(--color-3); 
}

.usuario-container {
  background-color: var(--color-3) !important; 
  height: 100vh;
  overflow: auto;
}

.navbar-custom {
  background-color: (var(--color-8));
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


